@{
      Layout = "_MasterLayout";
}

  <div class="page-wrapper dashboard">

    <!-- Preloader -->
    <div class="preloader"><div class="lds-ripple"><div></div><div></div></div></div>

    <!-- Header Span -->
    <span class="header-span"></span>

    <!-- Header Area -->
    @await Component.InvokeAsync("_HeaderMenu", new {isDashboard = true})

    <partial name="/Areas/Identity/Pages/Dashboard/Partials/_MainSidebar.cshtml" />
    
        @RenderBody()

    <!-- Footer Area -->
    <div class="copyright-text">
      <p>© @DateTime.Today.Year GrandJob. Всички права запазени.</p>
    </div>
</div>


@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}


