

.top-side-home {
    position: relative; 
    padding-bottom: 2.5rem;
}
    .top-side-home h1 {
        color: #0a2350;
        color: var(--illustration-dark-blue);
        font-size: 2.6rem
    }

    .BaseColor {
        position: relative;
        padding-bottom: 2.5rem;
        background: #000000;
        background: #207dff;
        background: -moz-linear-gradient(left, #207dff 0%, #a16ae8 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, #207dff), color-stop(100%, #a16ae8));
        background: -webkit-linear-gradient(left, #207dff 0%, #a16ae8 100%);
        background: -o-linear-gradient(left, #207dff 0%, #a16ae8 100%);
        background: -ms-linear-gradient(left, #207dff 0%, #a16ae8 100%);
        background: -webkit-gradient(linear, left top, right top, from(#207dff), to(#a16ae8));
        background: linear-gradient(to right, #207dff 0%, #a16ae8 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207dff', endColorstr='#a16ae8', GradientType=1 );
    }
     .BaseImage {
        position: relative;
        padding-bottom: 2.5rem;

        background: url(/CustomCSS/Base/images/hero-home-woman-test.jpg) 50% no-repeat;
        background-size: auto;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 500px;
    }
@media screen and (min-width:992px) {
    .top-side-home h1 {
        font-size: 3.4rem
    }
}

.top-side-home .flex-direction-col {
    align-content: flex-end
}

@media screen and (min-width:992px) {
    .top-side-home .btn-main {
        margin: 0
    }
}

@media screen and (max-width:991px) {
    .top-side-home .flex-direction-col .form-label {
        display: none
    }
}

.top-side-home .keywords-select__placeholder {
    font-size: 12px
}


.home-curved-line {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
    pointer-events: none
}

@media screen and (max-width:1250px) {
    .home-curved-line {
        display: none
    }
}
.applicant-container .link {
    color: #f09b14;
    color: var(--illustration-orange)
}

.employers-container .link {
    color: #505ab4;
    color: var(--illustration-purple)
}
.link-container {
    text-decoration: none !important
}

    .link-container h1 {
        padding-bottom: 0
    }

    .link-container h2 {
        margin: .2rem 0 .6rem;
        padding: 0 0 2.9rem
    }

    .link-container .btn-main {
        position: absolute;
        bottom: 0;
        min-width: unset
    }

@media screen and (max-width:991px) {
    .link-container .image {
        display: none
    }
}

.link-container .link {
    padding-top: 1rem
}


.background-circle-mobile {
    background-image: url(/static/media/background-circle.9269900a.svg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain
}

@media (min-width:992px) {
    .background-circle-mobile {
        background-image: none
    }
}


.narrow-container {
    max-width: 960px;
    margin: 0 auto
}

.pb-lg-4,
.py-lg-4 {
    padding-bottom: 1.5rem !important
}


/*FTCO*/

.ftco-search {
    top:-100px;
    position: relative;
    width: 100%;
    display: block;
}

    .ftco-search .nav-pills {
        width: 100%;
        display: flex;
        justify-content: center;

    }

        .ftco-search .nav-pills p {
            margin-bottom: 0;
         
        }
        .ftco-search .nav-pills .nav-link {
            background-color: #78b400;
            color: #ffffff;
            border: 1px solid #64646e !important;
            border-radius: 3px;
            font-weight: 800;
            padding-right: 4rem;
            padding-left: 4rem;
            min-height: 3rem;
            font-size: 1.2rem;
        }


            .ftco-search .nav-pills .nav-link.active, .ftco-search .nav-pills .nav-link:hover {
                color: #000;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                -webkit-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                transition: all 0.3s ease;
                border: 1px solid transparent;
                background: #f7f5f5;
            }

                .ftco-search .nav-pills .nav-link.active:after, .ftco-search .nav-pills .nav-link:hover:after {
                    opacity: 1;
                }

@media (max-width: 767.98px) {
    .ftco-search .nav-pills .nav-link.active:after, .ftco-search .nav-pills .nav-link:hover:after {
        opacity: 0;
    }
}
@media (max-width: 767.98px) {
    .ftco-search .nav-pills .nav-link {
        padding: 8px 20px !important;
        margin-bottom: 7px;
    }
}


.ftco-search .tab-content {
    background: #fff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
    margin-top: -9px;

}


.search-job .form-group {
    position: relative;
    margin-bottom: 0;
}

@media (max-width: 767.98px) {
    .search-job .form-group {
        margin-bottom: 10px;
    }
}

.search-job .form-group label {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.search-job .form-group .form-field {
    position: relative;
    display: block;
}

.search-job .form-group .form-control {
    padding-left: 30px;
    display: block;
    width: 100%;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.7) !important;
    background: white !important;
}

    .search-job .form-group .form-control::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(0, 0, 0, 0.7) !important;
    }

    .search-job .form-group .form-control::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(0, 0, 0, 0.7) !important;
    }

    .search-job .form-group .form-control:-ms-input-placeholder {
        /* IE 10+ */
        color: rgba(0, 0, 0, 0.7) !important;
    }

    .search-job .form-group .form-control:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(0, 0, 0, 0.7) !important;
    }

    .search-job .form-group .form-control.btn {
        padding: 0 !important;
        font-size: 16px;
        color: #fff !important;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
    }

        /* custom css */
        .search-job .form-group .form-control.btn.btn-primary {
            background: #f3545d !important;
        }

.search-job .form-group .select-wrap {
    position: relative;
}

    .search-job .form-group .select-wrap select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

.search-job .form-group .icon {
    position: absolute;
    top: 51%;
    left: 10px;
    font-size: 16px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #d9d9d9;
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.ftco-no-pt {
    padding-top: 0 !important;
}

.ftco-no-pb {
    padding-bottom: 0 !important;
}
.ftco-counter {
    padding: 8em 0;
}

@media (max-width: 1199.98px) {
    .ftco-counter {
        background-position: center center !important;
  
    }
}

.ftco-counter .icon {
    margin-bottom: 150px;

}

    .ftco-counter .icon span {
        line-height: 1;
        font-size: 40px;
        color: #fff;
    }

.ftco-counter .text strong.number {
    font-weight: 600;
    font-size: 34px;
    color: #fff;
    line-height: 1;
}

.ftco-counter .text span {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 767.98px) {
    .ftco-counter .counter-wrap {
        margin-bottom: 20px;
    }
}
.block-18 .icon > span {
    font-size: 60px;
    color: #fff;
    width: 60px;
}

.block-18 .text strong {
    font-size: 30px;
}

.block-18 .text span {
    display: block;
}
.block-20 {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    position: relative;
    display: block;
}

/*Listing*/

.listing-no-results {
    text-align: center;
    border-top: 1px solid #eeeef1;
    border-bottom: 1px solid #eeeef1;
    padding: 0 1rem;
    margin-top: .5rem
}

    .listing-no-results h2 {
        font-size: 2rem;
        font-weight: 900;
        color: #64646e !important;
        font-family: "Montserrat", sans-serif;
        margin: 2rem 0 !important;
        padding: 0 !important
    }


.listing-no-results {
    text-align: center;
    border-top: 1px solid #eeeef1;
    border-bottom: 1px solid #eeeef1;
    padding: 0 1rem;
    margin-top: .5rem
}

    .listing-no-results h2 {
        font-size: 2rem;
        font-weight: 900;
        color: #64646e !important;
        font-family: "Montserrat", sans-serif;
        margin: 2rem 0 !important;
        padding: 0 !important
    }


.listing h2 {
    padding: 0;
    margin-bottom: 1.6rem
}

.listing ul {
    padding: 0;
    margin: 0 0 1.9rem
}

.listing li {
    list-style-type: none
}

.listing a {
    text-decoration: none
}

.listing .btn {
    min-width: 100px
}

.listing .listing-separator {
    text-align: center;
    margin-left: auto;
    flex-shrink: 0;
    margin-right: 1rem
}

.listing .item a {
    display: flex;
    align-items: center;
    margin: .5rem 0;
    padding: .5rem 0
}

    .listing .item a .image-wrapper {
        width: 100px;
        height: 100%;
        background-color: unset;
        margin-right: 1rem;
        padding: 0
    }

    .listing .item a .item-text h5 {
        padding-top: 0
    }

.listing .list-wrapper {
    display: flex;
    align-items: center
}

    .listing .list-wrapper .file-icon {
        margin-right: .5rem
    }

.listing-text {
    flex: 4 1;
}

.listing-count {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    text-align: center;
    color: #9696a0;
    color: var(--text-less-prominent);
    margin-right: .7rem;
    min-width: 48px
}

    .listing-count span {
        text-transform: lowercase;
        line-height: normal
    }

        .listing-count span:first-child {
            font-size: 18px;
            font-weight: 400;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: normal;
            text-align: center;
            color: #9696a0;
            color: var(--text-less-prominent)
        }




.cards {
    display: flex;
}

    .cards:hover .image-wrapper {
        transform: scale(0.9);
        box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.8);
    }

        .cards:hover .image-wrapper:hover {
            transform: scale(1.150);
            box-shadow: 10px 25px 30px -15px rgba(0, 0, 0, 0.5);
        }


.listing-regular li {
    padding: .6rem 1rem;
    background-color: hsla(0, 0%, 100%, .6);
    margin-bottom: 2px;
    min-height: 50px
}

    .listing-regular li a {
        display: flex;
        align-items: center
    }

    .listing-regular li icon {
        flex-shrink: 0;
        margin-left: auto;
        
           
    }

.light-background {
    background-color: #f5f5fa !important
}

.col-md-push-1 {
    left: 8.33333%;
}

/*Candidates
.top-profiles {
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 1, 0.15);
    box-shadow: 0 2px 4px rgba(0, 0, 1, 0.15);
    border-radius: 4px
}

    .top-profiles:before,
    .top-profiles:after {
        display: table;
        content: " "
    }

    .top-profiles:after {
        clear: both
    }

    .top-profiles .sidebar-profile {
        vertical-align: top;
        text-align: left;
        padding: 0 15px;
        width: 100%
    }
        .top-profiles .sidebar-profile .image-wrapper {
            width: 3em;
            height: 3em;
            border-radius: 50%;
            border: 1px solid #979797;
            display: flex;
            overflow: auto;
            float:left;
            margin-right: 10px;

        }

            .top-profiles .sidebar-profile .image-wrapper img {
                height: auto;
                width: 100%;
            }
.sidebar-profile .main-details {
    float: left;
    width: calc(100% - 60px);
}
.sidebar-profile .speciality {
    color: #7f92a9;
    font-size: 12px;
}

@media (min-width: 768px) {
    .top-profiles {
        -moz-transform: translateY(-25%);
        -o-transform: translateY(-25%);
        -ms-transform: translateY(-25%);
        -webkit-transform: translateY(-25%);
        transform: translateY(-25%);
        margin-top: 0;
        margin-bottom: -40px
    }

        .top-profiles .sidebar-profile {
            width: 50%
        }
}

@media (min-width: 992px) {
    .top-profiles {
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }

        .top-profiles .sidebar-profile {
            width: auto;
            max-width: 25%;
            min-width: 22%;
            margin-bottom: 0
        }
}
    */





.top-profiles {
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 1, 0.15);
    box-shadow: 0 2px 4px rgba(0, 0, 1, 0.15);
    border-radius: 4px
}

    .top-profiles:before,
    .top-profiles:after {
        display: table;
        content: " "
    }

    .top-profiles:after {
        clear: both
    }

    .top-profiles .sidebar-profile {
        vertical-align: top;
        text-align: left;
        padding: 0 15px;
        width: 100%
    }

@media (min-width: 768px) {
    .top-profiles {
        -moz-transform: translateY(-25%);
        -o-transform: translateY(-25%);
        -ms-transform: translateY(-25%);
        -webkit-transform: translateY(-25%);
        transform: translateY(-25%);
        margin-top: 0;
        margin-bottom: -40px
    }

        .top-profiles .sidebar-profile {
            width: 50%
        }
}

@media (min-width: 992px) {
    .top-profiles {
        -moz-transform: translateY(-10%);
        -o-transform: translateY(-10%);
        -ms-transform: translateY(-10%);
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%)
    }

        .top-profiles .sidebar-profile {
            width: auto;
            max-width: 25%;
            min-width: 22%;
            margin-bottom: 0
        }

    .section {
        padding: 50px 0
    }

        .section.has-browse-btn + .section {
            padding-top: 80px
        }
}
.sidebar-section {
    margin-top: 30px
}

.sidebar-profile {
    margin-bottom: 20px
}

    .sidebar-profile:before,
    .sidebar-profile:after {
        display: table;
        content: " "
    }

    .sidebar-profile:after {
        clear: both
    }

    .sidebar-profile:last-child {
        margin-bottom: 0
    }

    .sidebar-profile .avatar {
        float: left;
        margin-right: 10px;
        width: 50px
    }

.top-profiles .sidebar-profile .image-wrapper {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 1px solid #979797;
    display: flex;
    overflow: auto;
    float: left;
    margin-right: 10px;
}

    .top-profiles .sidebar-profile .image-wrapper img {
        height: auto;
        width: 100%;
    }

    .sidebar-profile .main-details {
        float: left;
        width: calc(100% - 60px)
    }

    .sidebar-profile .name {
        font-size: 14px;
        font-weight: 500;
        color: #3c495a
    }

    .sidebar-profile .speciality {
        color: #7f92a9;
        font-size: 12px
    }

    .sidebar-profile .works-at,
    .sidebar-profile .location {
        font-size: 12px;
        margin: 3px 0
    }

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px
}
    