:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --bodyFont: #64646e;
    --headerLight: linear-gradient(to right, #207dff 0%, #a16ae8 100%);
    --headerDark: rgba(10, 10,10, 0.5);
    --subtitle: #003cb1;
    --dividingLine: #cdcdcd;
    --liDot: #003cb1;
    --btnSubColor: #0064c8;
    --btnMainColor: #78b400;
    --btnAnchor: #000;
    --btnRotate: #003cb1;
    --reminderWarning: #981fac;
    --reminderError: #ff003d;
    --reminderSuccess: #009a88;
    --stickyNavBtn: #0046aa;
    --stickyNavFirstBtn: #000;
    --stickyNavSubFirstBtn: #fff;
    --stickyNavSubColor: rgba(120, 180, 0, 0.8);
    --stickyNavTextSubColor: #0a2350;
    --spinner: #8158c4;
    --headerNavSeparator: rgba(0, 100, 200, 0.75);
    --listingTitle: var(--cta-links-idle);
    --listingText: #003cb1;
    --listingBorder: rgba(0, 60, 177, 0.25);
    --listingCount: #2fb4ff;
    --listingMainText: #2fb4ff;
    --listingFirstIcon: #009a88;
    --hintsDescription: #828282;
    --headerUser: #fff;
    --footerFont: #fff;
    --subFooterFont: #9696a0;
    --headingTitle: #3a3a3a;
    --step: #3a3a3a;
    --navigationSubtitle: #2fb4ff;
    --backgroundReduglar: #f5f5fa;
    --backgroundTopSideHome: #0081d2;
    --backgroundHeadingTitle: #e6e6eb;
    --backgroundEmployerSubheading: #f7f7f7;
    --backgroundFooter: #9696a0;
    --backgroundStickyNav: rgba(0, 170, 240, 0.4);
    --backgroundRegularListing: hsla(0, 0%, 100%, 0.6);
    --backgroundImageWrapper: hsla(0, 0%, 100%, 0.9);
    --backgroundSubFooter: #64646e;
    --backgroundModal: #f5f5f5;
    --backgroundStep: #003cb1;
    --backgroundCompany: #f5f5f5;
    --backgroundHeader: #0a2350;
    --backgroundFacebook: #4267b2;
    --backgroundLinkedIn: #2867b2;
    --backgroundGoogle: #db4437;
    --hamburger: hsla(0, 0%, 100%, 0.9999);
    --backgroundSortableItem: #e6e6e6;
    --backgroundHeadingSubtitle: #e6ecf7;
    --backgroundSliderArrowContainer: #fef8eb;
    --backgroundSliderContainer: #fef8eb;
    --urgent: #ff003d;
    --iconImportant: #981fac;
    --iconInformative: #2fb4ff;
    --border: #a1b7e1;
    --borderRadiusItemListing: #009a88;
    --borderSearchListing: #e9e9ee;
    --descriptionText: #211a4f;
    --iconClose: #211a4f;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --headerHeightMobile: 80px;
    --headerHeight: 80px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
