@inject SignInManager<User> _signInManager

@model CategoriesViewModel

@{ ViewData["Title"] = "Всички индустрии";
    ViewData["Description"] = "Търсете новата си работа по категориите изброени тук.";
    ViewData["Keywords"] = "categories, industry, категории, индустрия";
    Layout = "~/Views/Home/_PageLayout.cshtml"; }

<link href="~/theme_ios/plugins/Hexagon.min.css" rel="stylesheet">
<div class="wrapper">
    <partial name="../Home/IOSPartials/_LeftSidePartial" />

    <div class="main-container">

        <div class="main-header desktop-only">
            <div class="header-menu">
                <a class="main-header-link" asp-controller="Home" asp-action="Index">Начало</a>
                <a class="main-header-link" asp-controller="Jobs" asp-action="Index" asp-route-Internship="intern">Стажове</a>
                <a class="main-header-link" asp-controller="Jobs" asp-action="Index">Работа</a>
                <a class="main-header-link" asp-controller="Contestants" asp-action="Index">Хора</a>
            </div>
        </div>


        @if (_signInManager.IsSignedIn(User))
        {
            @await Component.InvokeAsync("_Activity")}
    <div class="content-wrapper" style="padding:unset;">

        <div class="grid">
            <ul id="hexGrid">
                @if (Model.List != null)
                {
                    await foreach (var item in Model.List)
                    {
            <li class="hex">
                <div class="hexIn">
                    <a class="hexLink" href="#">
                        <div class='img' style='background-image: url(/theme_ios/assets/categories/svg/@item.Icon.Replace(item.Icon, $"{item.Icon.LastWord()}.svg"));'></div>
                        <h1 id="demo1">@item.Title_BG</h1>
                    </a>
                </div>
            </li>
                    }
                }

                            </ul>
        </div>



    </div>
        </div>
    </div>



