@page
@{
    ViewData["Title"] = "Wrong EIK !";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger">Wrong EIK number. Please check and try again! </h2>
