@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Потвърждаване";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Успешно потвърждаване !
    </p>
    <p>
        Благодарим, за отделеното време.
    </p>
</div>
