@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Потвърждаване";
}

<div>
    <h2 style="color:#fff;">
        Успешно потвърдихте.
    </h2> 
    <b style="color:#fff;">
        Благодарим, за отделеното време.
    </b>
    <br>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-back-home mt-4 animated fadeInUp">
        <span class="btn-label mr-2">
            <i class="flaticon-home"></i>
        </span>
        Върни се назад
    </a>
</div>
