@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Забравена парола?";
    Layout = "/Areas/Identity/Pages/Account/Layout/_Login.cshtml";
}


<div class="wrapper">


    <form method="post" class="login">
        <div asp-validation-summary="All" class="text-danger"></div>
        <p class="title">@ViewData["Title"]</p>

        <div class="row setup-content" id="step-1">
            <b>Емайл:</b>
            <input asp-for="Input.Email" autocomplete="on" id="txtUsername" onkeyup="ClearMessage()" class="form-control" placeholder="Email" autofocus />
            <i class="fa fa-user"></i>
            <br />
            <span id="message"></span>
            <button id="btnCheck" type="button" value='Submit' onclick="CheckAvailability()" class="btn btn-primary btn-lg pull-right">Напред</button>
            <input id="successButton" class="btn btn-primary nextBtn btn-lg pull-right" type="button" style='display: none;' />
        </div>

        <div class="row setup-content" id="step-2">
            <b>Моля проверете пощата си !</b>

            <i class="fa fa-key"></i>
            <br>

            <button type="submit">
                <span class="state">Продължи</span>
            </button>
        </div>
    </form>

    <footer>

        <a href="#">GrandJob</a>
    </footer>
</div>
