@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Забравена парола?";
    Layout = "/Areas/Identity/Pages/_LayoutLogin.cshtml";
}

    <!-- Info Section -->
    <div class="login-section">
      <div class="image-layer" style="background-image: url(/theme_superio/images/background/12.webp);"></div>
      <div class="outer-box">
        <!-- Login Form -->
        <div class="login-form default-form">
          <div class="form-inner">
              <h3>@ViewData["Title"]</h3>

            <!--Login Form-->
               <form method="post">
                   <div asp-validation-summary="All" class="text-danger"></div>
              <div class="form-group">
              <label>Емайл</label>
               <input asp-for="Input.Email" class="form-control" autocomplete="on" placeholder="Емайл" required/>
              </div>

               <div class="form-group">
              <small><i class="las la-info-circle"></i> Моля проверете в секция 'Спам' или 'Реклама' ако не намирате съобщението.</small>
              </div>

              <div class="form-group">
                <button class="theme-btn btn-style-one" type="submit">Изпрати</button>
              </div>
            </form>


          </div>
        </div>
        <!--End Login Form -->
      </div>
    </div>
    <!-- End Info Section -->
