@page
@model LockoutModel
@{
    ViewData["Title"] = "Заключен акаунт";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <b class="text-danger">Този профил е заключен за 24 часа.</b>
    <p class="text-danger">Моля опитайте по-късно.</p>
</header>
