@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Завърши регистрацията";
    Layout = "/Areas/Identity/Pages/_LayoutLogin.cshtml";
}

    <!-- Info Section -->
    <div class="login-section">
      <div class="image-layer" style="background-image: url(/theme_superio/images/background/12.webp);"></div>
      <div class="outer-box">
        <!-- Login Form -->
        <div class="login-form default-form">
          <div class="form-inner">
           <h3>@ViewData["Title"]</h3>

            @{
                if (@Model.DisplayConfirmAccountLink)
                {
                    <p>

                        Това ще бъде изпратено по имейл: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Натисни за да потвърждение</a>
                    </p>
                }
                else
                {
                    <p>
                        Моля проверете емайл адреса си.
                    </p>
                }
            }


          </div>
        </div>
        <!--End Login Form -->
      </div>
    </div>
    <!-- End Info Section -->

