@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Задаване на нова парола";
      Layout = "/Areas/Identity/Pages/_LayoutLogin.cshtml";
}

    <!-- Info Section -->
    <div class="login-section">
      <div class="image-layer" style="background-image: url(/theme_superio/images/background/12.jpg);"></div>
      <div class="outer-box">
        <!-- Login Form -->
        <div class="login-form default-form">
          <div class="form-inner">
           <h3>@ViewData["Title"]</h3>
               <form method="post" class="login" id="remote-control-form">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Input.Code" type="hidden" />

              <div class="form-group">
              <label>Емайл</label>
               <input asp-for="Input.Email" class="form-control" autocomplete="on" placeholder="Емайл" required/>
              </div>

              <div class="form-group">
               <label>Парола</label>
               <input asp-for="Input.Password" class="form-control" autocomplete="off" placeholder="Парола" required/>
              </div>

               <div class="form-group">
               <label>Потвърди паролата</label>
               <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="off" placeholder="Потвърди паролата си" required/>
              </div>

             <div class="form-group">
                <button class="theme-btn btn-style-one" type="submit">Продължи</button>
              </div>
              </form>

          </div>
        </div>
        <!--End Login Form -->
      </div>
    </div>
    <!-- End Info Section -->


