@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Задаване на нова парола";
    Layout = "/Areas/Identity/Pages/Account/Layout/_Login.cshtml";
}

    <form method="post" class="login" id="remote-control-form">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Input.Code" type="hidden" />
        <p class="title">@ViewData["Title"]</p>

        <div class="row setup-content" id="step-1">
            <b>Емайл:</b>
            <input asp-for="Input.Email" autocomplete="on" id="txtUsername" onkeyup="ClearMessage()" class="form-control" placeholder="Email" autofocus />
            <i class="fa fa-user"></i>
            <span id="message"></span>
            <br>
            <hr>
            <button id="btnCheck" type="button" value='Submit' onclick="CheckAvailability()" class="btn btn-primary btn-lg pull-right">Напред</button>

            <input id="successButton" class="btn btn-primary nextBtn btn-lg pull-right" type="button" style='display: none;' />
        </div>

        <div class="row setup-content" id="step-2">
            <b>Парола:</b>
            <input asp-for="Input.Password" autocomplete="off" class="form-control" placeholder="Password" />
            <i class="fa fa-key"></i>
            <br>

            <b>Потвърди паролата:</b>
            <input asp-for="Input.ConfirmPassword" autocomplete="off" class="form-control" placeholder="Password" />
            <i class="fa fa-key"></i>
            <br>

            <hr>
            <button type='button' id='Submit' value='Submit' onclick='fakeProgress();'>
                <span class="state">Актулизирай</span>
            </button>

            <!-- Hidden submit element so that it can be submitted programatically -->
            <input type='submit' style='display: none;' />

        </div>
    </form>

    <footer>
        <a href="#">GrandJob</a>
    </footer>

