

                     <div class="pricing-table tagged-bronze col-sm-4 col-sm-4 col-sm-4">
                    <div class="inner-box">
                      <div class="title">Bronze <i class="lab la-hotjar" style="color:#a94107"></i></div>
                      <div class="price">1.39 лв.<span class="duration">/ веднъж</span></div>
                      <div class="table-content">
                        <ul>
                          <li class="price-enabled"><span>3 дни Промо опция ТОП обява</span></li>
                          <li class="price-disabled"><span>Обновяване на обявата</span></li>
                          <li class="price-disabled"><span>Без позиция на Заглавна страница</span></li>
                        </ul>
                      </div>
                      <div class="table-footer">

                      </div>
                    </div>
                  </div>

                    <!-- Pricing Table -->
                  <div class="pricing-table tagged-gold col-lg-4 col-md-4 col-sm-4">
                    <div class="inner-box">
                      <div class="title">Gold <i class="las la-crown" style="color:#DEA806"></i></div>
                      <span class="tag">Препоръчано</span>
                      <div class="price">10 лв.<span class="duration">/ веднъж</span></div>
                      <div class="table-content">
                        <ul>
                          <li class="price-enabled"><span>7 дни Промо опция ТОП обява</span></li>
                          <li class="price-enabled"><span>3 Обновявания на обявата</span></li>
                          <li class="price-enabled"><span>7 дни Заглавна страница</span></li>
                          
                        </ul>
                      </div>
                      <div class="table-footer">

                      </div>
                    </div>
                  </div>

                  <!-- Pricing Table -->
                  <div class="pricing-table tagged-silver col-lg-4 col-md-4 col-sm-4">
                    <div class="inner-box">
                      <div class="title">Silver <i class="las la-rocket" style="color:#767373"></i></div>
                      <div class="price">5.00 лв.<span class="duration">/ веднъж</span></div>
                      <div class="table-content">
                        <ul>
                          <li class="price-enabled"><span>7 дни Промо опция ТОП обява</span></li>
                          <li class="price-enabled"><span>3 Обновявания на обявата</span></li>
                          <li class="price-disabled"><span>Без позиция на Заглавна страница</span></li>
                        </ul>
                      </div>
                      <div class="table-footer">

                      </div>
                    </div>
                  </div>
                  