@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Парола";
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}

 <!-- Dashboard -->
    <section class="user-dashboard">
      <div class="dashboard-outer">

        <!-- Ls widget -->
        <div class="ls-widget">
          <div class="widget-title">
            <h4>Промяна на парола</h4>
          </div>

          <div class="widget-content">
            <form class="default-form" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
              <div class="row">
                <!-- Input -->
                <div class="form-group col-lg-7 col-md-12">
                 <label asp-for="Input.OldPassword"></label>
                 <input asp-for="Input.OldPassword" type="password" class="form-control" required>

                </div>

                <!-- Input -->
                <div class="form-group col-lg-7 col-md-12">
                 <label asp-for="Input.NewPassword"></label>
                 <input asp-for="Input.NewPassword" type="password" class="form-control" name="password" required>
                </div>

                <!-- Input -->
                <div class="form-group col-lg-7 col-md-12">
                  <label asp-for="Input.ConfirmPassword"></label>
                   <input asp-for="Input.ConfirmPassword" type="password" class="form-control" name="confirmpassword" required>
                </div>

                <!-- Input -->
                <div class="form-group col-lg-6 col-md-12">
                  <button type="submit" class="theme-btn btn-style-four">Актулизирай</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- End Dashboard -->
