@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Моят акаунт";
    Layout = "/Areas/Identity/Pages/Dashboard/Layout/_Dashboard.cshtml";
}



<div class="content">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">@ViewData["Title"]</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a asp-area="Identity" asp-page="/Account/Manage/Index">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">@ViewData["Title"]</a>
                </li>
            </ul>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-header">
                        <div class="card-title">Моят акаунт</div>
                        <p>Вашият акаунт съдържа лични данни, които сте ни дали. Тази страница ви позволява да изтеглите или изтриете тези данни.</p>
                        <p>
                            <strong style="color:red"> Изтриването на тези данни ще премахне за постоянно вашия акаунт и това не може да бъде възстановено.</strong>
                        </p>
                    </div>

                    <form asp-page="DownloadPersonalData" method="post" class="form-group">
                        <div class="card-body">

                            <button class="btn btn-outline-primary" type="submit">
                                <span class="btn-label">
                                    <i class="fas fa-download"></i>
                                </span> Изтегли
                            </button>
                            <a asp-page="DeletePersonalData" class="btn btn-outline-danger">
                                <span class="btn-label">
                                    <i class="fas fa-trash-alt"></i>
                                </span> Изтрий
                            </a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

