@page
@model PricingModel
@{
    ViewData["Title"] = "Пакети";
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}


<!-- Pricing Sectioin -->
    <section class="pricing-section">
      <div class="auto-container">
        <div class="sec-title text-center">
          <h2>Пакети</h2>
          <div class="text">Моля изберете пакет, с който искате да продължите в платформата ни.<br>Разполагате с два платени и един безплатен.</div>
        </div>
        <!--Pricing Tabs-->
        <div class="pricing-tabs">
        
            <!--Tab / Active Tab-->
             @if(Model.UserEntity.Role.Equals(Roles.User) || Model.UserEntity.Role.Equals(Roles.Contestant) || Model.UserEntity.Role.Equals(Roles.Admin) || Model.UserEntity.Role.Equals(Roles.Moderator))
              {
              <div class="content">
                <div class="row">
                  <!-- Pricing Table -->
                  <div class="pricing-table col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                      <div class="title">Безплатно</div>
                      <div class="price">0 лв.</div>
                      <div class="table-content">
                        <ul>
                          <li><span>Кредити - 0 <i class="fas fa-coins" style="color:darkgoldenrod"></i></span></li>
                          <li><span>Кандидатури - 1</span></li>
                          <li><span>Рейтинг - Слаб</span></li>
                          <li><span>Време за одобряване - Бавно </span></li>
                          <li><span>Boosted обяви - Не</span></li>
                          <li><span>Предложение във фирмите - Не</span></li>
                        </ul>
                      </div>
                      <div class="table-footer">
                          <form asp-page-handler="Free" method="post">
                            @if (Model.UserEntity?.AccountType != AccountType.Free)
                            {
                                <button type="submit" class="theme-btn btn-style-three"><b>Започни</b></button>
                            }
                            else
                            {
                                <button type="submit" class="theme-btn btn-style-three" disabled><i class="fas fa-user-check"></i></button>
                            }
                        </form>
                      </div>
                    </div>
                  </div>

                  <!-- Pricing Table -->
                  <div class="pricing-table tagged col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                      <span class="tag">Препоръчано</span>
                      <div class="title">Pro</div>
                      <div class="price">20 лв.<span class="duration">/ месец</span></div>
                      <div class="table-content">
                        <ul>
                          <li><span>Кредити - 10 <i class="fas fa-coins" style="color:darkgoldenrod"></i></span></li>
                          <li><span>Кандидатури - Неограничени</span></li>
                          <li><span>Рейтинг - Висок</span></li>
                          <li><span>Време за одобряване - Бързо</span></li>
                          <li><span>Boosted обяви - Да</span></li>
                          <li><span>Предложение във фирмите - Да</span></li>
                          <li><span>Консултация - 24/7</span></li>
                        </ul>
                      </div>
                      <div class="table-footer">
                           <form asp-page-handler="Pro" method="post">
                            @if (Model.UserEntity?.AccountType != AccountType.Free)
                            {
                                <button type="submit" class="theme-btn btn-style-three"><b>Започни</b></button>
                            }
                            else
                            {
                                <button type="submit" class="theme-btn btn-style-three" disabled><i class="fas fa-user-check"></i></button>
                            }
                        </form>
                      </div>
                    </div>
                  </div>

                  <!-- Pricing Table -->
                  <div class="pricing-table col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                      <div class="title">Тестов</div>
                      <div class="price">10 лв.<span class="duration">/ веднъж</span></div>
                      <div class="table-content">
                        <ul>
                          <li><span>Кредити - 10 <i class="fas fa-coins" style="color:darkgoldenrod"></i></span></li>
                          <li><span>Кандидатури - 1</span></li>
                          <li><span>Рейтинг - Висок</span></li>
                          <li><span>Време за одобряване - Бързо</span></li>
                          <li><span>Boosted обяви - Да</span></li>
                          <li><span>Предложение във фирмите - Не</span></li>
                        </ul>
                      </div>
                      <div class="table-footer">
                         <form asp-page-handler="Test" method="post">
                            @if (Model.UserEntity?.AccountType != AccountType.Free)
                            {
                                <button type="submit" class="theme-btn btn-style-three"><b>Започни</b></button>
                            }
                            else
                            {
                                <button type="submit" class="theme-btn btn-style-three" disabled><i class="fas fa-user-check"></i></button>
                            }
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            }

            <!--Tab-->
            @if(Model.UserEntity.Role.Equals(Roles.Employer) || Model.UserEntity.Role.Equals(Roles.Recruiter) || Model.UserEntity.Role.Equals(Roles.Admin) || Model.UserEntity.Role.Equals(Roles.Moderator))
              {
              <div class="content">
                <div class="row">
                  <!-- Pricing Table -->
                  <div class="pricing-table col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                      <div class="title">Безплатно</div>
                      <div class="price">0 лв.</div>
                      <div class="table-content">
                        <ul>
                          <li><span>Кредити - 0 <i class="fas fa-coins" style="color:darkgoldenrod"></i></span></li>
                          <li><span>Фирми - 1</span></li>
                          <li><span>Обяви за работа - 3</span></li>
                          <li><span>Рейтинг - Слаб</span></li>
                          <li><span>Време за одобряване - Бавно</span></li>
                          <li><span>Boosted обяви - Не</span></li>
                          <li><span>Реклама - Не</span></li>
                        </ul>
                      </div>
                      <div class="table-footer">
                          <form asp-page-handler="Free" method="post">
                            @if (Model.UserEntity?.AccountType != AccountType.Free)
                            {
                                <button type="submit" class="theme-btn btn-style-three"><b>Започни</b></button>
                            }
                            else
                            {
                                <button type="submit" class="theme-btn btn-style-three" disabled><i class="fas fa-user-check"></i></button>
                            }
                        </form>
                      </div>
                    </div>
                  </div>

                  <!-- Pricing Table -->
                  <div class="pricing-table tagged col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                      <span class="tag">Препоръчано</span>
                      <div class="title">Pro</div>
                      <div class="price">20 лв.<span class="duration">/ месец</span></div>
                      <div class="table-content">
                        <ul>
                          <li><span>Кредити - 10 <i class="fas fa-coins" style="color:darkgoldenrod"></i></span></li>
                          <li><span>Фирми - Неограничени</span></li>
                          <li><span>Обяви за работа - Неограничени</span></li>
                          <li><span>Рейтинг - Висок</span></li>
                          <li><span>Време за одобряване - Бавно</span></li>
                          <li><span>Boosted обяви - Да</span></li>
                          <li><span>Реклама - Да</span></li>
                          <li><span>Поддръжка - 24/7</span></li>
                        </ul>
                      </div>
                      <div class="table-footer">
                           <form asp-page-handler="Pro" method="post">
                            @if (Model.UserEntity?.AccountType != AccountType.Free)
                            {
                                <button type="submit" class="theme-btn btn-style-three"><b>Започни</b></button>
                            }
                            else
                            {
                                <button type="submit" class="theme-btn btn-style-three" disabled><i class="fas fa-user-check"></i></button>
                            }
                        </form>
                      </div>
                    </div>
                  </div>

                  <!-- Pricing Table -->
                  <div class="pricing-table col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                      <div class="title">Тестов</div>
                      <div class="price">10 лв.<span class="duration">/ веднъж</span></div>
                      <div class="table-content">
                        <ul>
                          <li><span>Кредити - 10 <i class="fas fa-coins" style="color:darkgoldenrod"></i></span></li>
                          <li><span>Фирми - 1</span></li>
                          <li><span>Обяви за работа - 3</span></li>
                          <li><span>Рейтинг - Среден</span></li>
                          <li><span>Време за одобряване - Бавно</span></li>
                          <li><span>Boosted обяви - Да</span></li>
                          <li><span>Реклама - Да</span></li>
                        </ul>
                      </div>
                      <div class="table-footer">
                         <form asp-page-handler="Test" method="post">
                            @if (Model.UserEntity?.AccountType != AccountType.Free)
                            {
                                <button type="submit" class="theme-btn btn-style-three"><b>Започни</b></button>
                            }
                            else
                            {
                                <button type="submit" class="theme-btn btn-style-three" disabled><i class="fas fa-user-check"></i></button>
                            }
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            }
          
        </div>
      </div>
    </section>
    <!-- End Pricing Section -->


