@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Задаване на парола";
    Layout = "/Areas/Identity/Pages/Dashboard/Layout/_Dashboard.cshtml";
}



<div class="content">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">@ViewData["Title"]</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a asp-area="Identity" asp-page="/Account/Manage/Index">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">@ViewData["Title"]</a>
                </li>
            </ul>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-header">
                        <div class="card-title">@ViewData["Title"]</div>
                    </div>

                    <form id="profile-form" method="post" class="form-group">
                        <div class="card-body">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group form-show-validation row">
                                <label asp-for="Input.NewPassword" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right"></label><span class="required-label">*</span>
                                <div class="col-lg-4 col-md-9 col-sm-8">
                                    <input asp-for="Input.NewPassword" type="text" class="form-control" required>
                                </div>
                            </div>

                            <div class="form-group form-show-validation row">
                                <label asp-for="Input.ConfirmPassword" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right"></label><span class="required-label">*</span>
                                <div class="col-lg-4 col-md-9 col-sm-8">
                                    <input asp-for="Input.ConfirmPassword" type="text" class="form-control" required>
                                </div>
                            </div>



                        </div>
                        <div class="card-action">
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-danger">Отказ</button>
                                    <input class="btn btn-success pull-center" type="submit" value="Запази">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

