@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Задаване на парола";
    Layout = "/Areas/Identity/Pages/Dashboard/Layout/_Dashboard.cshtml";
}


 <!-- Dashboard -->
    <section class="user-dashboard">
      <div class="dashboard-outer">
        <form class="default-form" method="post">

        <!-- Ls widget -->
        <div class="ls-widget">
          <div class="widget-title">
            <h4>Промяна на парола</h4>

           <div class="desktop-only">
                <a href="" class="theme-btn btn-style-default" data-toggle="tooltip" data-placement="bottom" title="Отказ"><i class="las la-times" aria-hidden="true"></i></a>
                 <button type="submit" class="theme-btn btn-style-four" data-toggle="tooltip" data-placement="bottom" title="Запис"><i class="las la-check"></i></button> 
            </div>
          </div>

          <div class="widget-content">
                <div asp-validation-summary="All" class="text-danger"></div>
              <div class="row">

                <!-- Input -->
                <div class="form-group col-lg-7 col-md-12">
                 <label asp-for="Input.NewPassword"></label>
                 <input asp-for="Input.NewPassword" type="password" class="form-control" name="password" required>
                </div>

                <!-- Input -->
                <div class="form-group col-lg-7 col-md-12">
                  <label asp-for="Input.ConfirmPassword"></label>
                   <input asp-for="Input.ConfirmPassword" type="password" class="form-control" name="confirmpassword" required>
                </div>

                <!-- Input -->
                <div class="form-group col-lg-6 col-md-12">
                    <div class="mobile-only">
                        <br>
                        <div class="form-group col-lg-6 col-md-12">
                       <button type="submit" class="theme-btn btn-style-four"><i class="las la-check"></i> Запази</button> 
                       </div>
                   </div>
                   </div>
              </div>
           
          </div>
        </div>

         </form>
      </div>
    </section>
    <!-- End Dashboard -->
