@page
@model CancelModel

@{
    ViewData["Title"] = "Отказано заплащане";
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}



    <!-- Dashboard -->
    <section class="user-dashboard">
      <div class="dashboard-outer">
        <div class="upper-title-box">
         <h3>Отказано заплащане</h3>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <!-- Ls widget -->
            <div class="ls-widget">
              <div class="tabs-box">

                <div class="widget-content">

            </div>
          </div>
          </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Dashboard -->
    










