@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@inject INotificationService _notifyService
@inject IMessageService _messageService
@inject IFavoritesService _favoritesService

@{
    var user = await UserManager.GetUserAsync(User);

    int notifyCount = await _notifyService.GetNotificationsCount(user);
    int messagesCount = await _messageService.GetMessagesCountBy_Receiver(user);
    int? favCount = await _favoritesService.GetFavouriteByCount(user, PostType.All);

    int notify;
    if(user is not null)
        notify = user.ActivityReaded ? 0: 1;
    else
        notify = 0;
}

<link type="text/css" href="~/customCSS/Base/MobileNav.min.css" rel="stylesheet" asp-append-version="true" />

<style>
    .dropup .dropdown-menu {
        top: auto !important;
        margin-bottom: .125rem;
    }
</style>

<div class="customMenu">

    <a asp-controller="Home" asp-action="Index" class="item">
      <i class="fas fa-home"></i>
    </a>
    <a asp-controller="Jobs" asp-action="Index" class="item">
      <i class="fas fa-search"></i>
    </a>
    <div class="dropdown">
        <a role="button" class="item dropdown-toggle hidden-caret" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-plus-square"></i>
        </a>
        <div class="dropdown-menu">

            @if (User.IsInRole("Admin"))
            {
                <a class="dropdown-item" asp-controller="Contestants" asp-action="Create">Добави кандидатура</a>
                <a class="dropdown-item" asp-controller="Company" asp-action="Create">Добави фирма</a>
                <a class="dropdown-item" asp-controller="Jobs" asp-action="Create">Добави обява</a>
            }
            @if (User.IsInRole("User"))
            {
                <a class="dropdown-item" asp-controller="Contestants" asp-action="Create">Добави кандидатура</a>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Resume/All">Качи CV/Резюме</a>
            }
            @if (User.IsInRole("Contestant"))
            {
                <a class="dropdown-item" asp-controller="Contestants" asp-action="Create">Добави кандидатура</a>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Resume/All">Качи CV/Резюме</a>
            }
            @if (User.IsInRole("Employer"))
            {
                <a class="dropdown-item" asp-controller="Company" asp-action="Create">Добави фирма</a>
                <a class="dropdown-item" asp-controller="Jobs" asp-action="Create">Добави обява</a>
            }

        </div>
    </div>
    @if (SignInManager.IsSignedIn(User))
    {
<a class="item notifications quick-sidebar-toggler" href="#" role="button">
    <i class="fas fa-bell"></i>
    @if (notify > 0)
    {
    <div class="popUp" id="tooltip" style="transform:scale(@notify)" >
        @if (messagesCount > 0)
            {
        <div class="item-tooltip"><i class="far fa-comment-dots"></i>@messagesCount</div>
            }
        @if (favCount > 0)
            {
        <div class="item-tooltip"><i class="far fa-heart"></i> @favCount</div>
            }
        @if (notifyCount > 0)
            {
        <div class="item-tooltip"><i class="far fa-bell"></i> @notifyCount</div>
            }
    </div>
    }

</a>
    }
    else
    {
        <a asp-area="Identity" asp-page="/Account/Manage/Index" class="item notifications">
            <i class="fas fa-bell"></i>
        </a>
    }
    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="item">
        <i class="fas fa-user-circle"></i>
    </a>
</div>
