<div class="left-side">
    <div class="side-wrapper">
        <div class="side-title">Достъп</div>
        <div class="side-menu">
            <a asp-controller="Home" asp-action="Index">
                <svg fill="currentColor" x="0px" y="0px" viewBox="0 0 27.02 27.02" xml:space="preserve">
                <g>
                <path data-original="#bfc9d1" d="M3.674,24.876c0,0-0.024,0.604,0.566,0.604c0.734,0,6.811-0.008,6.811-0.008l0.01-5.581
		c0,0-0.096-0.92,0.797-0.92h2.826c1.056,0,0.991,0.92,0.991,0.92l-0.012,5.563c0,0,5.762,0,6.667,0
		c0.749,0,0.715-0.752,0.715-0.752V14.413l-9.396-8.358l-9.975,8.358C3.674,14.413,3.674,24.876,3.674,24.876z" />
                <path data-original="#bfc9d1" d="M0,13.635c0,0,0.847,1.561,2.694,0l11.038-9.338l10.349,9.28c2.138,1.542,2.939,0,2.939,0
		L13.732,1.54L0,13.635z" />
                <polygon data-original="#bfc9d1" points="23.83,4.275 21.168,4.275 21.179,7.503 23.83,9.752 	" />
                    </g>
                        </svg>
                Начало
            </a>
            <a asp-area="Identity" asp-page="/Account/Manage/Index">
                <svg viewBox="0 0 512 512">
                    <g xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                        <path d="M0 0h128v128H0zm0 0M192 0h128v128H192zm0 0M384 0h128v128H384zm0 0M0 192h128v128H0zm0 0" data-original="#bfc9d1" />
                    </g>
                    <path xmlns="http://www.w3.org/2000/svg" d="M192 192h128v128H192zm0 0" fill="currentColor" data-original="#82b1ff" />
                    <path xmlns="http://www.w3.org/2000/svg" d="M384 192h128v128H384zm0 0M0 384h128v128H0zm0 0M192 384h128v128H192zm0 0M384 384h128v128H384zm0 0" fill="currentColor" data-original="#bfc9d1" />
                </svg>
                Контролен панел
                @*<span class="notification-number updates">3</span>*@
            </a>
        </div>
    </div>


    <div class="side-wrapper">
        <div class="side-title">Работодател</div>
        <div class="side-menu">
            <a asp-controller="Contestants" asp-action="Index">
                <svg fill="currentColor" viewBox="0 0 25.96 25.96">
                <g>
                <path data-original="#bfc9d1" d="M11.896,17.15c-0.131-0.043-0.953-0.887-0.439-2.474H11.45c1.34-1.401,2.487-3.655,2.487-5.876
			c0-3.412-2.359-5.201-4.957-5.201c-2.6,0-4.855,1.789-4.855,5.201c0,2.229,1.051,4.492,2.398,5.892
			c0.525,1.398-0.414,2.384-0.611,2.458C3.192,18.148,0,19.97,0,21.767c0,0.485,0,0.191,0,0.674c0,2.449,4.677,3.006,9.006,3.006
			c4.334,0,8.953-0.557,8.953-3.006c0-0.482,0-0.188,0-0.674C17.959,19.915,14.751,18.109,11.896,17.15z" />
	            </g>
                <g>
                <path data-original="#bfc9d1" d="M20.259,12.651c-0.122-0.041-0.896-0.23-0.413-1.723H19.84c1.26-1.316,2.129-3.438,2.129-5.523
			c0-3.209-2.01-4.891-4.452-4.891c-1.798,0-3.347,0.918-4.042,2.678c1.459,1.205,2.463,3.081,2.463,5.607
			c0,2.697-1.264,5.158-2.586,6.746c2.106,0.797,5.397,2.4,6.339,4.85c3.318-0.184,6.269-0.873,6.269-2.771c0-0.453,0-0.177,0-0.633
			C25.959,15.251,22.943,13.552,20.259,12.651z" />
	            </g>
                    </svg>
                Търси кандидати
            </a>
            <a asp-controller="Company" asp-action="Create">
                <svg viewBox="0 0 31.217 31.217" fill="currentColor">
                        <g>
                            <path d="M29.066,8.165h-8.303v-1.04c0-4.429-4.201-4.169-4.201-4.169h-1.986c-4.428,0-4.199,4.2-4.199,4.2v1.009H2.042
			C-0.076,8.165,0,10.25,0,10.25v4.07c0,0,8.889,3.234,15.543,3.234c7.271,0,15.671-3.266,15.671-3.266V10.25
			C31.215,8.066,29.066,8.165,29.066,8.165z M13.18,7.038c0-2.085,2.447-2.116,2.447-2.116c2.482,0,2.406,2.148,2.406,2.148v1.043
			H13.18V7.038z M18.189,16.781l-5.164,0.004v-1.991h5.164V16.781z" />
                            <path d="M31.215,26.178V15.791c0,0-6.762,3.114-15.716,3.114C7.262,18.905,0,15.694,0,15.694v10.483
			c0,2.117,2.008,2.086,2.008,2.086H29.1C31.346,28.264,31.215,26.178,31.215,26.178z M18.189,20.685
			c0,0.715-0.576,1.292-1.289,1.292h-2.584c-0.713,0-1.291-0.577-1.291-1.292v-1.332h5.164V20.685z" />
                        </g>
                </svg>
                Добави фирма
            </a>
            <a asp-controller="Jobs" asp-action="Create">
                <svg viewBox="0 -3 413.7 413" fill="currentColor">
                    <path d="m324 33.351562c-.019531-18.21875-14.78125-32.984374-33-33h-44v22.097657c0 3.867187-3.132812 7-7 7s-7-3.132813-7-7v-22.097657h-142v22.097657c0 3.867187-3.132812 7-7 7s-7-3.132813-7-7v-22.097657h-44c-18.21875.015626-32.9804688 14.78125-33 33v27.199219h323.898438v-27.199219zm0 0" />
                    <path d="m320.699219 207.25c1.101562 0 2.199219 0 3.300781.101562v-132.902343h-323.898438v229.800781c.015626 18.21875 14.78125 32.980469 33 33h183.097657c-1.648438-7.554688-2.484375-15.265625-2.5-23 .066406-59.066406 47.933593-106.933594 107-107zm-246.097657-40.898438h155c3.863282 0 7 3.132813 7 7 0 3.863282-3.136718 7-7 7h-155c-3.867187 0-7-3.136718-7-7 0-3.867187 3.132813-7 7-7zm92.796876 79h-92.796876c-3.867187 0-7-3.136718-7-7 0-3.867187 3.132813-7 7-7h92.796876c3.867187 0 7 3.132813 7 7 0 3.863282-3.132813 7-7 7zm0 0" />
                    <path d="m320.699219 221.25c-51.363281 0-93 41.636719-93 93s41.636719 93 93 93 93-41.636719 93-93c-.042969-51.34375-41.65625-92.957031-93-93zm52.800781 100h-45.800781v45.800781c0 3.863281-3.132813 7-7 7-3.863281 0-7-3.136719-7-7v-45.800781h-45.800781c-3.863282 0-7-3.132812-7-7s3.136718-7 7-7h45.800781v-45.800781c0-3.863281 3.136719-7 7-7 3.867187 0 7 3.136719 7 7v45.800781h45.800781c3.867188 0 7 3.132812 7 7s-3.132812 7-7 7zm0 0" />
                </svg>
                Публикувай обява
            </a>
            <a asp-area="Identity" asp-page="/Companies/Index">
                <svg viewBox="0 -20 366 366" fill="currentColor">
                    <path d="m333 0h-30v38.09375c0 3.867188-3.132812 7-7 7s-7-3.132812-7-7v-38.09375h-212v38.09375c0 3.867188-3.132812 7-7 7s-7-3.132812-7-7v-38.09375h-30c-18.199219 0-33 15.117188-33 33.3125v259.9375c.0390625 18.128906 14.769531 32.792969 32.898438 32.75h300.101562c18.128906.097656 32.902344-14.519531 33-32.648438v-260.039062c0-18.195312-14.800781-33.3125-33-33.3125zm-257.472656 105h116.429687c3.863281 0 7 3.132812 7 7s-3.136719 7-7 7h-116.429687c-3.867188 0-7-3.132812-7-7s3.132812-7 7-7zm214.945312 157h-214.945312c-3.867188 0-7-3.132812-7-7s3.132812-7 7-7h214.945312c3.867188 0 7 3.132812 7 7s-3.132812 7-7 7zm0-72h-214.945312c-3.867188 0-7-3.132812-7-7s3.132812-7 7-7h214.945312c3.867188 0 7 3.132812 7 7s-3.132812 7-7 7zm0 0" />
                </svg>
                Моите обяви
            </a>
        </div>
    </div>

    <div class="side-wrapper">
        <div class="side-title">Кандидат</div>
        <div class="side-menu">
            <a asp-controller="Jobs" asp-action="Index">
                <svg viewBox="0 0 444.04691 444.04691" fill="currentColor">
                    <path d="m444.046875 421.421875-186.910156-186.910156c47.839843-59.847657 40.59375-146.644531-16.507813-197.734375-57.101562-51.089844-144.167968-48.671875-198.34375 5.507812-54.179687 54.175782-56.597656 141.242188-5.507812 198.34375 51.089844 57.101563 137.886718 64.347656 197.734375 16.507813l186.910156 186.910156zm0 0" />
                </svg>
                Търси работа
            </a>
            <a asp-controller="Contestants" asp-action="Create">
                <svg viewBox="0 -3 413.7 413" fill="currentColor">
                    <path d="m324 33.351562c-.019531-18.21875-14.78125-32.984374-33-33h-44v22.097657c0 3.867187-3.132812 7-7 7s-7-3.132813-7-7v-22.097657h-142v22.097657c0 3.867187-3.132812 7-7 7s-7-3.132813-7-7v-22.097657h-44c-18.21875.015626-32.9804688 14.78125-33 33v27.199219h323.898438v-27.199219zm0 0" /><path d="m320.699219 207.25c1.101562 0 2.199219 0 3.300781.101562v-132.902343h-323.898438v229.800781c.015626 18.21875 14.78125 32.980469 33 33h183.097657c-1.648438-7.554688-2.484375-15.265625-2.5-23 .066406-59.066406 47.933593-106.933594 107-107zm-246.097657-40.898438h155c3.863282 0 7 3.132813 7 7 0 3.863282-3.136718 7-7 7h-155c-3.867187 0-7-3.136718-7-7 0-3.867187 3.132813-7 7-7zm92.796876 79h-92.796876c-3.867187 0-7-3.136718-7-7 0-3.867187 3.132813-7 7-7h92.796876c3.867187 0 7 3.132813 7 7 0 3.863282-3.132813 7-7 7zm0 0" /><path d="m320.699219 221.25c-51.363281 0-93 41.636719-93 93s41.636719 93 93 93 93-41.636719 93-93c-.042969-51.34375-41.65625-92.957031-93-93zm52.800781 100h-45.800781v45.800781c0 3.863281-3.132813 7-7 7-3.863281 0-7-3.136719-7-7v-45.800781h-45.800781c-3.863282 0-7-3.132812-7-7s3.136718-7 7-7h45.800781v-45.800781c0-3.863281 3.136719-7 7-7 3.867187 0 7 3.136719 7 7v45.800781h45.800781c3.867188 0 7 3.132812 7 7s-3.132812 7-7 7zm0 0" />
                </svg>
                Публикувай обява
            </a>
            <a asp-area="Identity" asp-page="/Contestants/Index">
                <svg viewBox="0 -20 366 366" fill="currentColor">
                    <path d="m333 0h-30v38.09375c0 3.867188-3.132812 7-7 7s-7-3.132812-7-7v-38.09375h-212v38.09375c0 3.867188-3.132812 7-7 7s-7-3.132812-7-7v-38.09375h-30c-18.199219 0-33 15.117188-33 33.3125v259.9375c.0390625 18.128906 14.769531 32.792969 32.898438 32.75h300.101562c18.128906.097656 32.902344-14.519531 33-32.648438v-260.039062c0-18.195312-14.800781-33.3125-33-33.3125zm-257.472656 105h116.429687c3.863281 0 7 3.132812 7 7s-3.136719 7-7 7h-116.429687c-3.867188 0-7-3.132812-7-7s3.132812-7 7-7zm214.945312 157h-214.945312c-3.867188 0-7-3.132812-7-7s3.132812-7 7-7h214.945312c3.867188 0 7 3.132812 7 7s-3.132812 7-7 7zm0-72h-214.945312c-3.867188 0-7-3.132812-7-7s3.132812-7 7-7h214.945312c3.867188 0 7 3.132812 7 7s-3.132812 7-7 7zm0 0" />
                </svg>
                Моите обяви
            </a>
            <a asp-area="Identity" asp-page="/Resume/Index">
                <svg viewBox="0 0 448 448" fill="currentColor"><path d="m448 448v-345.375l-102.625-102.625h-57.375v80c0 8.835938-7.164062 16-16 16h-192c-8.835938 0-16-7.164062-16-16v-80h-64v448h64v-208c0-8.835938 7.164062-16 16-16h288c8.835938 0 16 7.164062 16 16v208zm0 0" /><path d="m96 0h160v64h-160zm0 0" /><path d="m96 256h256v192h-256zm0 0" /></svg>
                Моите файлове
            </a>
        </div>
    </div>
    <div class="side-wrapper">
        <div class="side-title">Приятели</div>
        <div class="side-menu">
            <a href="https://www.instagram.com/p/CQJYkQTJra7/?utm_medium=share_sheet" target="_blank">
                <svg viewBox="0 -39 427.86467 427" fill="currentColor">
                    <path d="m409.105469 41.800781-22.625-22.621093c-24.992188-24.996094-65.515625-24.996094-90.511719 0l-79.574219 79.558593c-25.484375-19.78125-61.707031-17.5-84.511719 5.320313l-113.136718 113.078125c-24.996094 24.996093-24.996094 65.519531 0 90.515625l22.625 22.621094c24.992187 24.996093 65.515625 24.996093 90.511718 0l79.535157-79.535157c25.484375 19.78125 61.707031 17.507813 84.511719-5.3125l113.175781-113.085937c25.011719-24.996094 25.011719-65.539063 0-90.539063zm-90.511719 0c12.496094-12.496093 32.757812-12.496093 45.257812 0l22.628907 22.625c12.5 12.496094 12.5 32.761719 0 45.257813l-113.175781 113.136718c-10.304688 10.328126-26.304688 12.359376-38.863282 4.925782l10.578125-10.609375c24.988281-24.992188 24.988281-65.507813 0-90.503907l-5.65625-5.664062zm-113.175781 113.136719 11.320312-11.3125 5.65625 5.65625c12.496094 12.5 12.496094 32.761719 0 45.257812l-11.320312 11.3125-5.65625-5.65625c-12.496094-12.496093-12.496094-32.757812 0-45.257812zm-96.160157 152.738281c-12.496093 12.496094-32.757812 12.496094-45.253906 0l-22.632812-22.625c-12.5-12.496093-12.5-32.757812 0-45.257812l113.136718-113.132813c10.304688-10.332031 26.304688-12.359375 38.863282-4.929687l-10.578125 10.609375c-24.988281 24.992187-24.988281 65.511718 0 90.503906l5.65625 5.664062zm0 0" />
                </svg>
                Mihaylovv.art
            </a>
        </div>
    </div>
</div>