<div class="main-header desktop-only">
    <div class="header-menu">
        <a class="main-header-link is-active" asp-controller="Home" asp-action="Index">Начало</a>
        <a class="main-header-link" asp-controller="Jobs" asp-action="Index" asp-route-Internship="intern">Стажове</a>
        <a class="main-header-link" asp-controller="Jobs" asp-action="Index">Работа</a>
        <a class="main-header-link" asp-controller="Contestants" asp-action="Index">Хора</a>
    </div>
</div>