<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">GrandJob</h2>
                    <p>HireMe е уебсайт, който помага на служители и работодатели да намерят един друг. Фрийлансъри и агенции могат да създадат профил и да направят списък на уменията, и квалификациите си.</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Работодатели</h2>
                    <ul class="list-unstyled">
                        <li><a asp-controller="Contestants" asp-action="Index" class="pb-1 d-block">Търси кандидати</a></li>
                        <li><a asp-controller="Jobs" asp-action="Create" class="pb-1 d-block">Публикувай обява за работа</a></li>
                        <li><a asp-area="Identity" asp-page="/Account/Manage/Index" class="pb-1 d-block">Контролен панел</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Кандидат</h2>
                    <ul class="list-unstyled">
                        <li><a asp-controller="Jobs" asp-action="Index" class="pb-1 d-block">Търси работа</a></li>
                        <li><a asp-area="Identity" asp-page="/Resume/Index" class="pb-1 d-block">Моите файлове</a></li>
                        <li><a asp-area="Identity" asp-page="/Account/Manage/Index" class="pb-1 d-block">Контролен панел</a></li>
                        <li><a asp-controller="Categories" asp-action="Index" class="pb-1 d-block">Всички категории</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Акаунт</h2>
                    <ul class="list-unstyled">
                        <li><a asp-area="Identity" asp-page="/Account/Manage/EditProfile"  class="pb-1 d-block">Настройки на профила</a></li>
                        <li><a asp-area="Identity" asp-page="/Account/Login" class="pb-1 d-block">Влез</a></li>
                        <li><a asp-area="Identity" asp-page="/Account/Register" class="pb-1 d-block">Създай акаунт</a></li>
                        <li><a asp-area="Identity" asp-page="/Account/Manage/Pricing" class="pb-1 d-block">Купи Account-PRO</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Имате Въпрос?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">Младост 4, София</span></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">supp.hireme@gmail.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>