@{
    Layout = "/Areas/Identity/Pages/Dashboard/Layout/_Dashboard.cshtml";
}
<link rel="preload" as="style" type="text/css" onload="this.onload=null;this.rel='stylesheet'" href="~/customCSS/Dashboard/plugins/Using/email.min.css">
<link rel="preload" as="style" type="text/css" onload="this.onload=null;this.rel='stylesheet'" href="~/customCSS/Base/autoComplate.min.css">
<link rel="preload" as="style" type="text/css" onload="this.onload=null;this.rel='stylesheet'" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


@RenderBody()


@section Scripts {

    <script defer src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    <script defer type="text/javascript">

        function complate(id) {

            $(id).autocomplete({

                source: function (request, response) {

                    $.ajax({
                        url: '/MessageApi/AutocomplateUser',
                        type: 'GET',
                        cache: false,
                        data: request,
                        dataType: 'json',
                        success: function (data) {
                            response($.map(data, function (item) {

                                return {
                                    label: item.firstname + ' ' + item.lastname + ' ',
                                    value: item.id,
                                    image: item.picture
                                }
                            }))
                        }
                    });
                },
                minLength: 2,

                focus: function (event, ui) {
                    $(id).val(ui.item.label);

                    return false;
                },

                select: function (event, ui) {
                    $(id).val(ui.item.label);
                    $(id + 'Hidden').val(ui.item.value);
                    return false;
                }
            }).data("ui-autocomplete")._renderItem = function (ul, item) {

                var $div = $("<div></div>");

                $("<img style='height:76px;'>").attr("src", item.image).appendTo($div);
                $("<span></span>").text(item.label).appendTo($div);

                return $("<li></li>").append($div).appendTo(ul);
            };
        };

    </script>


    <script src="~/customJS/tinymce/jquery.tinymce.min.js"></script>
    <script src="~/customJS/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({

            selector: '#mytextarea',
            plugins: 'autoresize',
            autoresize_on_init: false,
            max_height: 500,
            min_height: 400
        });
    </script>
}
