@inject SignInManager<User> _signInManager
@{
    ViewData["Title"] = "Начало";
    ViewData["Description"] = "Намерете следващата си работа или кариера.Разгледайте нашите обяви за работа по категория, заглавие, фирма, местоположение или разгледайте популярни работни места.";
    ViewData["Keywords"] = "обяви за работа,grandjob,работа,начало";

    Layout = "_IndexLayout";
    bool isMobile = MobileDetector.IsMobile(Context);
}

<partial name="../Home/Partials/_BannerPartial" />

    @*await Component.InvokeAsync("_Activity")*@
@if (!_signInManager.IsSignedIn(User))
{
<partial name="../Home/Partials/_ChoosePartial" />
}
<partial name="../Home/Partials/_CompaniesPartial" />
<partial name="../Home/Partials/_CategoriesPartial" />
<partial name="../Home/Partials/_JobsPartial" />
<partial name="../Home/Partials/_ApplicantsPartial" />

@*
    <div class="wrapper">
        <partial name="../Home/IOSPartials/_LeftSidePartial" />


        <div class="main-container">
            <partial name="../Home/IOSPartials/_MainHeaderPartial" />

            @if (_signInManager.IsSignedIn(User))
            {
                @await Component.InvokeAsync("_Activity")
            }
        <div class="content-wrapper">
            <partial name="../Home/IOSPartials/_ContentPartial" />
            <partial name="../Home/IOSPartials/_AdPartial" />

        </div>

        </div>
    </div>
    *@