@inject SignInManager<User> _signInManager

@model CreateJobInputModel

@{
    ViewData["Title"] = "Публикувай обява за работа";
    ViewData["Description"] = "Публикувайте обявата си за работа тук.";
    ViewData["Keywords"] = "обява, работа, кандидатура, публикувай";
    Layout = "Layout/_Create";

    var visiblityEnum = Enum.GetValues(typeof(Visiblity)).Cast<Visiblity>();
}

<div class="wrapper">
    <partial name="../Home/IOSPartials/_LeftSidePartial" />

    <div class="main-container">

        <div class="main-header desktop-only">
            <div class="header-menu">
                <a class="main-header-link" asp-controller="Home" asp-action="Index"><i class="backIcon"></i></a>
                <a class="main-header-link" asp-controller="Home" asp-action="Index">Начало</a>
                <a class="main-header-link" asp-controller="Jobs" asp-action="Index" asp-route-Internship="intern">Стажове</a>
                <a class="main-header-link is-active" asp-controller="Jobs" asp-action="Index">Работа</a>
                <a class="main-header-link" asp-controller="Contestants" asp-action="Index">Хора</a>
            </div>
        </div>


        @if (_signInManager.IsSignedIn(User))
        {
            @await Component.InvokeAsync("_Activity")
        }
        <div class="content-wrapper">
            <div class="content-section responsiveSection">
               @* <div class="content-section-title">Добави обява за работа</div>*@

                <form asp-controller="Jobs" asp-action="Create" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group string required">
                                <label class="font-weight-bold" asp-for="Name">Заглавие</label>
                                <input asp-for="Name" class="form-control input-lg" placeholder="Заглавие на обява" enabled />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h4>Описание</h4>
                    <div class="row form-group mb-6">

                        <div class="col-md-4 mb-3 mb-md-0">
                            <label class="font-weight-bold">Местоположение</label>

                            @if (Model.AllLocations is not null)
                            {
                                <select class="form-control" asp-for="LocationId">
                                    @await foreach (var item in Model.AllLocations)
                                    {
                                        <option value="@item?.Value">@item?.Text</option>
                                    }
                                </select>
                            }
                        </div>

                        <div class="col-md-4 mb-3 mb-md-0">
                            <label class="font-weight-bold">Изберете фирма</label>
                            <select class="selectCompany form-control input-md" style="width: 90%">
                                @{
                                    if (Model.AllCompanies is not null && Model.CompanyId > -1)
                                    {
                                        await foreach (var item in Model.AllCompanies)
                                        {
                                            <option value="@item?.Id" selected="selected">@item?.Title</option>
                                        }
                                    }
                                }
                            </select>
                            <input asp-for="CompanyId" type="hidden" id="selectCompany_Value" />
                        </div>
                    </div>
                    <div class="row form-group mb-5">
                        <div class="col-md-5 mb-3 mb-md-0">
                            <label class="font-weight-bold">Изберете категория</label>
                            @if (Model.AllCategories is not null)
                            {
                                <select class="form-control" asp-for="CategoryId">
                                    <option value="-1">Изберете индустрия</option>
                                    @await foreach (var item in Model.AllCategories)
                                    {
                                        <option value="@item?.Value">@item?.Text</option>
                                    }
                                </select>
                            }
                        </div>

                    </div>


                    <div class="row form-group mb-3">
                        <div class="col-md-12">
                            <label class="font-weight-bold">Подходяща за</label>
                        </div>

                        <div class="col-lg-8 col-sm-8">
                            <select class="selectWork form-control input-lg" id="id_label_multiple3" multiple="multiple" style="width: 90%">
                                @if (Model.WorkType != null)
                                {
                                    @foreach (var item in Model.Worktypes)
                                    {
                                        <option value="@item?" selected="selected">@item?</option>
                                    }
                                }
                            </select>
                            <input asp-for="WorkType" type="hidden" id="selectWork_Value" />
                        </div>
                    </div>
                    <div class="row form-group mb-4">
                        <div class="col-lg-12 mb-3 mb-md-0">
                            <div class="col-md-offset-8"><h3>Описание</h3></div>
                            <textarea asp-for="Description" id="mytextarea" rows="12" cols="12"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="alert alert-info no-margin"><i class="fa fa-info-circle" aria-hidden="true"></i> Препоръчваме да използвате минимум 200 думи в описанието.</div>
                    <hr>

                    <div class="row form-group">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <label class="font-weight-bold" asp-for="Adress">Адрес</label>
                            <input asp-for="Adress" class="form-control required" placeholder="eg. bul. Tsarigradsko shose 115" enabled />
                            <span asp-validation-for="Adress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-6 mb-md-0">
                            <label class="font-weight-bold">Тагове</label><br>
                            @* <select class="selectTags form-control" id="id_label_multiple2" multiple="multiple" style="width: 75%"></select>*@
                            <select class="selectTags form-control" id="id_label_multiple2" multiple="multiple" style="width: 75%">
                                @{
                                    if (Model.AllTags != null && Model.TagsId != null)
                                    {
                                        await foreach (var item in Model.AllTags)
                                        {
                                            <option value="@item?.Id" selected="selected">@item?.Title</option>
                                        }
                                    }
                                }
                            </select>
                            <input asp-for="TagsId" type="hidden" id="selectTags_Value" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-6 mb-md-0">
                            <label class="font-weight-bold">Езици</label><br>
                            <select class="selectLang form-control" id="id_label_multiple55" multiple="multiple" style="width: 75%">
                                @{
                                    if (Model.AllLanguages != null && Model.LanguageId != null)
                                    {
                                        await foreach (var item in Model.AllLanguages)
                                        {
                                            <option value="@item?.Id" selected="selected">@item?.Name</option>
                                        }
                                    }
                                }
                            </select>
                            <input asp-for="LanguageId" type="hidden" id="selectLang_Value" />
                        </div>
                    </div>
                    <hr>
                    <div class="row form-group mb-3">
                        <div class="col-md-12">
                            <label class="font-weight-bold">Опит</label>
                        </div>

                        <div class="col-lg-5 col-sm-2">
                            <select asp-for="ExprienceLevels" asp-items="Html.GetEnumSelectList<ExprienceLevels>()" class="form-control input-lg"></select>
                        </div>
                    </div>
                    <div class="row form-group mb-3">
                        <div class="col-md-12">
                            <label class="font-weight-bold">Заплащане</label> <br><small>пример: (400 BGN - 1200 BGN)</small>
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            @{
                                uint min = Model.MinSalary > 0 ? @Model.MinSalary : 0;
                            }
                            <input asp-for="MinSalary" class="form-control" placeholder="Minimum" value="@min" />

                        </div>
                        -
                        <div class="col-lg-3 col-sm-4">
                            @{
                                uint max = Model.MaxSalary > 0 ? @Model.MaxSalary : 0;
                            }
                            <input asp-for="MaxSalary" class="form-control" placeholder="Maximum" value="@max" />
                        </div>

                        <div class="col-lg-3 col-sm-2">
                            <select asp-for="SalaryType" asp-items="Html.GetEnumSelectList<SalaryType>()" class="form-control input-lg"></select>
                        </div>
                    </div>


                    <div class="row form-group">

                        <div class="col-md-12">
                            <input type="submit" value="Продължи" class="content-button status-button">
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>