@inject SignInManager<User> _signInManager
@{
    Layout = "~/Views/Home/_PageLayout.cshtml";
}

<div class="wrapper">
    <partial name="../Home/IOSPartials/_LeftSidePartial" />

    <div class="main-container">

        <div class="main-header">
            <div class="header-menu">
                <a class="main-header-link" asp-controller="Home" asp-action="Index">Начало</a>
                <a class="main-header-link" asp-controller="Jobs" asp-action="Index" asp-route-Internship="intern">Стажове</a>
                <a class="main-header-link" asp-controller="Jobs" asp-action="Index">Работа</a>
                <a class="main-header-link" asp-controller="Contestants" asp-action="Index">Хора</a>
            </div>
        </div>


        @if (_signInManager.IsSignedIn(User))
        {
            @await Component.InvokeAsync("_Activity")
        }
        <div class="content-wrapper" style="padding:unset;">
            <div class="mobile-only content-section-title text-center">
                <button label="Филтрирай" type="button" class="btn btn-sm btn-outline-primary filter-sidebar-toggler">
                    Филтрирай
                </button>
            </div>
            <div class="content-section">
                @RenderBody()
            </div>
        </div>
    </div>
</div>


