@{
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}
<link defer rel="stylesheet" href="~/customCSS/Base/autoComplate.min.css">
<link defer rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" asp-append-version="true">

@RenderBody()


@section Scripts {

    <script src="~/theme_superio/js/dropzone.js"></script>
    <script defer type="text/javascript">

        Dropzone.autoDiscover = false;

        Dropzone.options.UploadZone = {
            url: "/Company/Upload",
            autoProcessQueue: false,
            uploadMultiple: true,
            parallelUploads: 6,
            maxFiles: 6,
            acceptedFiles: ".jpeg,.jpg,.png",
            // paramName: myParamName,
            init: function () {

                var submitButton = document.querySelector("#submit-all");
                var wrapperThis = this;

                submitButton.addEventListener("click", function () {
                    wrapperThis.processQueue();
                });

                this.on('sendingmultiple', function (data, xhr, formData) {

                });
                this.on('error',
                    function (file, response) {
                        console.log(response);
                        alert(response);
                    });
            }
        };
    </script>

    <script defer type="text/javascript">
        function complate(id) { $(id).autocomplete({ source: function (request, response) { $.ajax({ url: '/MessageApi/SelectRecruiter', type: 'GET', cache: !1, data: request, dataType: 'json', success: function (data) { if (response) { response($.map(data, function (item) { return { label: item.firstname + ' ' + item.lastname + ' ', value: item.id, image: item.picture } })) } else { return null } } }) }, minLength: 2, focus: function (event, ui) { $(id).val(ui.item.label); return !1 }, select: function (event, ui) { $(id).val(ui.item.label); $(id + 'Hidden').val(ui.item.value); return !1 } }).data("ui-autocomplete")._renderItem = function (ul, item) { var $div = $("<div></div>"); $("<img style='height:76px;'>").attr("src", item.image).appendTo($div); $("<span></span>").text(item.label).appendTo($div); return $("<li></li>").append($div).appendTo(ul) } }
    </script>
}
