
.heading-section .subheading {
  font-size: 12px;
  display: block;
  margin-bottom: 0px;
  color: #206dfb;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase; 

}

.heading-section h2 {
  font-size: 38px;
  font-weight: 500; }
  @media (max-width: 767.98px) {
    .heading-section h2 {
      font-size: 28px; } }

.heading-section.heading-section-white .subheading {
  color: rgba(255, 255, 255, 0.9); }

.heading-section.heading-section-white h2 {
  color: #fff; }

.heading-section.heading-section-white p {
  color: rgba(255, 255, 255, 0.9); }



.category {
  padding: 0; 

}
  .category li {
    list-style: none;
    margin-bottom: 0px;
    font-size: 22px;
    font-weight: 400; }
    .category li a {
      display: block;
      color: #1a1a1a;
      border-bottom: 1px solid #ffefdb;
      padding: 10px 15px 10px 0;
      position: relative; }
      .category li a i {
        position: absolute;
        top: 50%;
        right: 30px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #fdab44;
        opacity: 0;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease; 
      }
      .category li a span {
        color: rgba(0, 0, 0, 0.3);
        font-size: 15px; }
      .category li a span.number {
        font-size: 16px;
        background: #fffaf5;
        color: #fdab44;
        padding: 2px 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px; }
      .category li a:hover, .category li a:focus {
        color: #206dfb;
        background: #ffefdb; }
        .category li a:hover i, .category li a:focus i {
          right: 15px;
          opacity: 1; }
        .category li a:hover span, .category li a:focus span {
          color: rgba(0, 0, 0, 0.8); }
        .category li a:hover .number, .category li a:focus .number {
          color: #fdab44; }