@{
    ViewData["Title"] = "PayPal";
    Layout = "_MasterLayout";
}

<!-- menu Area -->
<partial name="../Home/Partials/_QuickMenuPartial" />


<a asp-controller="Paypal" asp-action="CreatePayment">Създай PayPal плащане</a>


<!-- Footer Area -->
<partial name="../Home/Partials/_FooterPartial" />
@section Scripts 
{
}
